<form action="" [formGroup]="form" (ngSubmit)="onSubmit()">
  <div class="container ">
    <mat-card class="animate__animated animate__fadeIn">

      <mat-card-header>
        <img src="./assets/img/logoMTC.png" alt="" class="img-log animate__animated animate__fadeIn ">

      </mat-card-header>
      <mat-card-content>
        <ol>
          <li>
            PROVINCIA
            <mat-form-field class="item">
              <mat-label>Provincia</mat-label>
              <mat-select formControlName="respprov" (ngModelChange)="limpiar()">
                <mat-option *ngFor="let provincia of provincias"
                  [value]="provincia.codigo">{{provincia.provincia}}</mat-option>
              </mat-select>
            </mat-form-field>
          </li>
          <li>
            DISTRITO
            <mat-form-field class="item">
              <mat-label>Distrito</mat-label>
              <mat-select formControlName="resdistrito">
                <mat-option *ngFor="let distrito of distritos"
                  [value]="distrito.codigo">{{distrito.distrito}}</mat-option>
              </mat-select>
            </mat-form-field>
          </li>
          <li>
            CCPP
            <mat-form-field class="item">
              <mat-label>Centro Poblado</mat-label>
              <mat-select formControlName="respccpp">
                <mat-option *ngFor="let poblado of poblados"
                  [value]="poblado.centro_poblado">{{poblado.centro_poblado}}</mat-option>
              </mat-select>
            </mat-form-field>
          </li>

          <li>
            IE:
            <mat-form-field class="item">
              <mat-label>Colegio</mat-label>
              <mat-select formControlName="respiiee">
                <mat-option *ngFor="let colegio of colegios"
                  [value]="colegio.IdInstitucion">{{colegio.NombreIE+' ('+colegio.NivelModalidad+')'}}</mat-option>
              </mat-select>
            </mat-form-field>
          </li>

          <li>
            ¿LA INSTITUCION CUENTA CON SERVICIO DE INTERNET?
            <mat-radio-group aria-labelledby="example-radio-group-label" class="example-radio-group"
              formControlName="resinternet">
              <mat-radio-button class="example-radio-button" value="SI">SI</mat-radio-button>
              <mat-radio-button class="example-radio-button" value="NO">NO</mat-radio-button>
            </mat-radio-group>
          </li>



          <li *ngIf="formInternetValidator">
            ¿QUE PROVEEDOR BRINDA EL SERVICIO DE INTERNET?
            <mat-radio-group aria-labelledby="example-radio-group-label" class="example-radio-group"
              formControlName="ressproveedor">
              <mat-radio-button class="example-radio-button" value="Movistar">Movistar.</mat-radio-button>
              <mat-radio-button class="example-radio-button" value="Claro">Claro.</mat-radio-button>
              <mat-radio-button class="example-radio-button" value="Entel">Entel.</mat-radio-button>
              <mat-radio-button class="example-radio-button" value="BITEL">BITEL.</mat-radio-button>
              <mat-radio-button class="example-radio-button" value="OTRO">OTRO</mat-radio-button>
            </mat-radio-group>
            <mat-form-field appearance="outline" *ngIf="InputProveedorOtro">
              <mat-label>Otro Poderador </mat-label>
              <input matInput placeholder="Especificar otra respuesta."
                formControlName="respproveedorotro">
            </mat-form-field>
          </li>


          <li *ngIf="formInternetValidator">
            ¿CUAL ES LA VELOCIDAD (EN MBPS) DEL SERVICIO DE INTERNET?
            <mat-form-field appearance="outline">
              <mat-label>Especificar</mat-label>
              <input matInput placeholder="Escribir la cantidad en Megabit por segundo." formControlName="resvelocidad">
            </mat-form-field>
          </li>

          <li *ngIf="formInternetValidator">
            ¿EL SERVICIO DE INTERNET DISPONIBLE PERMITE QUE EL PERSONAL REALICE SUS TAREAS EN LINEA SIN PROBLEMAS?
            <mat-radio-group aria-labelledby="example-radio-group-label" class="example-radio-group"
              formControlName="respermite">
              <mat-radio-button class="example-radio-button" value="SI">SI</mat-radio-button>
              <mat-radio-button class="example-radio-button" value="NO">NO</mat-radio-button>
            </mat-radio-group>
          </li>


          <li *ngIf="formInternetValidator">
            ¿CUAL ES EL PROBLEMA CON EL SERVICIO DE INTERNET?
            <mat-radio-group aria-labelledby="example-radio-group-label" class="example-radio-group"
              formControlName="resproblem">
              <mat-radio-button class="example-radio-button" value="1">Es muy lento.</mat-radio-button>
              <mat-radio-button class="example-radio-button" value="2">Generalmente se cuelga.</mat-radio-button>
              <mat-radio-button class="example-radio-button" value="3">Se cuenta con una tarifa de pocos
                megas.</mat-radio-button>
              <mat-radio-button class="example-radio-button" value="4">Otro.</mat-radio-button>
            </mat-radio-group>
          
            <mat-form-field appearance="outline" *ngIf="InputInternetOtro">
              <mat-label>Otro Problema  </mat-label>
              <input matInput placeholder="Indicar otro incoveniente."
                formControlName="resproblemotro">
            </mat-form-field>
          </li>

            <li *ngIf="formInternetValidator">
              ¿CUAL ES LA ENTIDAD RESPONSABLE DEL PAGO DEL SERVICIO DE INTERNET?
              <mat-form-field appearance="outline">
                <mat-label>Responsable</mat-label>
                <input matInput placeholder="Escribir la o las entidades que realizan el pago."
                  formControlName="resresponsable">
              </mat-form-field>
            </li>

            <li *ngIf="formInternetValidator">
              ¿CUAL ES COSTO MENSUAL (EN S/) DEL SERVICIO DE INTERNET
              <mat-form-field appearance="outline">
                <mat-label>Costo</mat-label>
                <input matInput placeholder="Escribir el costo del servicio." formControlName="rescosto">
              </mat-form-field>
            </li>

            <li>
              NOMBRES Y APELLIDOS
              <mat-form-field appearance="outline">
                <mat-label>Nombres Completos</mat-label>
                <input matInput placeholder="Escribir los nombres y apellidos." formControlName="resnomape">
              </mat-form-field>
            </li>

            <li>
              SEXO
              <mat-radio-group aria-labelledby="example-radio-group-label" class="example-radio-group"
              formControlName="ressexo">
              <mat-radio-button class="example-radio-button" value="1">MASCULINO</mat-radio-button>
              <mat-radio-button class="example-radio-button" value="2">FEMENINO</mat-radio-button>
            </mat-radio-group>
            </li>

            <li>
              NUMERO DE CELULAR
              <mat-form-field appearance="outline">
                <mat-label>(+51)</mat-label>
                <input matInput placeholder="Numero de celular (999888777)." formControlName="resnumcelular">
              </mat-form-field>
            </li>

            <li>
              CORREO ELECTRÓNICO PERSONAL
              <mat-form-field appearance="outline">
                <mat-label>Ingresar</mat-label>
                <input matInput placeholder="Registrar correo electronico." formControlName="rescorreo">
              </mat-form-field>
            </li>
        </ol>

        <button mat-flat-button color="primary">Guardar</button>

       

      </mat-card-content>
    </mat-card>

  </div>
</form>