

<section class="distrito-info">
    <h1>Centro Poblado de <b>{{poblado?.centro_poblado}}</b></h1>
    <p class="descripcion">Bienvenido al hermoso distrito XYZ. Este distrito tiene una rica historia y ofrece una variedad de actividades para residentes y visitantes por igual.</p>
    
    <div class="detalle-info">
      <div class="info-item">
        <h2>Informacion</h2>
        <ul>
          <li>Latitud:{{poblado?.latitud}}</li>
          <li>Latitud:{{poblado?.longitud}}</li>
          <li>Altitud: {{poblado?.poblacion}}</li>
          <li>Idioma: {{poblado?.altitud}}</li>
        </ul>
      </div>

      <div class="info-item">
        <h2>Servicios</h2>
        <ul>
          <li>Escuelas</li>
          <li>Hospitales</li>
          <li>Transporte Público</li>
        </ul>
      </div>
    </div>
  </section>