.container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-color: #e2e1df;
}

mat-card {
    max-width: 350px;
    width: 100%;
    align-items: center;
    background-color: #fff;

  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  overflow: hidden;
}

mat-form-field {
    width: 100%;
}

button {
    width: 100%;
}

.img-log{
    width: 100%;
    margin-top: 2px;
    margin-bottom: 2px;
    display: block;
}
.cabezera{
    text-align: center;
}