<form [formGroup]="form" (ngSubmit)="GuardarCambios()">
  <p>
    <mat-form-field appearance="outline">
      <mat-label>Usuario</mat-label>
      <input matInput placeholder="Ingrese Usuario" formControlName="usuario">
    </mat-form-field>
  </p>
  <p>
    <mat-form-field appearance="outline">
      <mat-label>Password</mat-label>
      <input matInput placeholder="Ingrese Contraseña"  formControlName="password">
    </mat-form-field>
  </p>
  <p>
    <mat-form-field appearance="outline">
      <mat-label>Nombre</mat-label>
      <input matInput placeholder="Ingrese Nombre" formControlName="nombre">
    </mat-form-field>
  </p>  
  <button mat-raised-button color="primary" [disabled]="form.invalid" class="mb-3">Guardar Cambios</button>
  <br>
  <a  mat-raised-button color="primary" routerLink="/admin/usuario">

    <mat-icon> arrow_back</mat-icon>
    Ir Lista usuarios

  </a>
</form>
