<app-card titulo="Lista Usuarios">

  <a [routerLink]="['../crear']" mat-flat-button color="primary">Crear</a>
  <table
    mat-table
    matSort 
    [dataSource]="datasource"   
    #tabla1
  >
    <ng-container matColumnDef="id">
      <th mat-sort-header mat-header-cell *matHeaderCellDef>id</th>
      <td mat-cell *matCellDef="let data">{{ data.id }}</td>
    </ng-container>

    <ng-container matColumnDef="usuario">
      <th mat-sort-header mat-header-cell *matHeaderCellDef>usuario</th>
      <td mat-cell *matCellDef="let data">{{ data.usuario }}</td>
    </ng-container>

    <ng-container matColumnDef="password">
      <th mat-sort-header mat-header-cell *matHeaderCellDef>password</th>
      <td mat-cell *matCellDef="let data">{{ data.password }}</td>
    </ng-container>

    <ng-container matColumnDef="nombre">
      <th mat-sort-header mat-header-cell *matHeaderCellDef>nombre</th>
      <td mat-cell *matCellDef="let data">{{ data.nombre }}</td>
    </ng-container>


    <ng-container matColumnDef="editar">
      <th mat-sort-header mat-header-cell *matHeaderCellDef>Editar</th>
      <td mat-cell *matCellDef="let data">
       
        <a
          routerLink="../editar/{{data.id}}"
          mat-flat-button
          color="primary"
          >editar</a
        >
      </td>
    </ng-container>


    <ng-container matColumnDef="eliminar">
      <th mat-sort-header mat-header-cell *matHeaderCellDef>Eliminar</th>
      <td mat-cell *matCellDef="let data">
       
     

        <button mat-flat-button (click)="eliminar(data.id)" color="warn">Eliminar</button>

      </td>
    </ng-container>

    <mat-header-row *matHeaderRowDef="ColumnasMostrar"></mat-header-row>
    <mat-row *matRowDef="let row; columns: ColumnasMostrar"></mat-row>
  </table>
  <ng-container footer >
    <mat-paginator 
    [pageSizeOptions]="[5,10,20]"
    [showFirstLastButtons]="true"
    >

    </mat-paginator>
</ng-container>
</app-card>
